.nav_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--white);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 1px 3px var(--grayish-blue);
  width: 40px;
  height: 40px;

  svg {
    align-items: center;
    justify-content: center;
  }
}
