.carousel-container {
  display: flex;
  position: relative;

  &__content {
    flex: 3;
    text-align: center;
  }
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      svg {
        path {
          stroke: var(--orange);
        }
      }
    }
  }
  .prev-button {
    left: 1rem;
    padding-left: 2px;
  }
  .next-button {
    right: 1rem;
    padding-right: 4px;
  }
  .prev-button--lightbox {
    left: -1.8rem;
    padding-left: 2px;
    width: 55px;
    height: 55px;
  }
  .next-button--lightbox {
    right: -1.8rem;
    padding-right: 4px;
    width: 55px;
    height: 55px;
  }

  .large-image {
    width: 100%;
    height: auto;
    &:hover {
      cursor: pointer;
    }
  }
  &.carousel-desktop {
    .large-image {
      border-radius: 15px;
    }
  }
}
