.article {
  margin: 4rem 2rem;
  max-width: 100%;
  &__container {
    .price-container {
      display: flex;
      justify-content: space-between;
      &__discounted-price {
        display: flex;
        align-items: center;

        &__price {
          font-size: 29px;
          font-weight: 700;
        }
        &__discount {
          font-weight: 700;
          font-size: 15px;
          color: var(--orange);
          background-color: var(--pale-orange);
          padding: 4px 10px;
          border-radius: 7px;
          margin-left: 1rem;
        }
      }
      &__original {
        font-size: 18px;
        display: block;
        margin-top: 1rem;
        font-weight: 700;
        color: var(--grayish-blue);
        text-decoration: line-through;
      }
    }
  }
  &__company {
    font-size: 16px;
    font-weight: 700;
    color: var(--orange);
  }
  &__title {
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0 35px 0;
  }
  &__description {
    font-size: 16px;
    color: var(--gray-blue);
  }

  @media screen and (min-width: 765px) {
    max-width: 50%;
    &__company {
      font-size: 18px;
    }
    &__title {
      font-size: 48px;
    }
    &__description {
      font-size: 18px;
    }
    .price-container {
      display: block;
    }
  }
}
